body{
    color:white;
    margin:0px;
    padding:0px;
}
.topPart{
    background-image: url('./src/home-background2.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:local;
    
    height: 100%;
    
    
}
.topNavigation{
    padding-left: 0px;
    margin-left: 0px;
    /*background: #1D2659;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#logo{
    flex:1;
    font-size: 30px;
    font-family: Verdana;
    font-weight: bolder;
    display: flex;
    margin-left: 0px;
    padding-left:75px;
    width: 50%;
    justify-content: left;
}

#logoImage {
    width: 60px;
    height: 50px;
    margin-left:50px;
    margin-right:20px;
}

.navigationUl{
    width:50%;
    display:flex;
    flex:1;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
    
}

.navigationLi{
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans';
    font-weight: bold;
    font-size: 24px;
    display:flex;
    font-size: 18px;
    margin-right:50px;
}


#contactUsButton{
    border:1px solid;
    padding:5px;
    border-radius: 5px;
}

.navHeroseparator{
    align-content: center;
    background: #1D2659;
    display: flex; 
    flex: 1;
    width: 90%;
    opacity: 80%;
    margin-bottom: 100px;
    /* height: 1px; */
}

.hero{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nameInBig{
    margin-top: 50px;
    margin-bottom: 3px;
    align-content: center;
    font-size: 80px; 
    font-family: 'Cooper Black';
    font-weight: bolder;
}

/*.heroTagDiv{
    display: flex;
    flex-direction: row;
}
.heroHr{
    display: flex;
    width:fit-content;
} */

.image{
    border: 5px solid #f8f4eaff;
}

.tagLine{
    align-content: center;
    font-size: 20px; 
    font-family: Verdana;
    font-style: italic;
    margin-bottom: 80px;
}
.aboutUs{
    border: 1px solid;
    align-items: center;
    border-radius: 10px;
    margin-left: 27%;
    margin-right: 27%;
    padding:15px;
    font-size:20px;
    justify-content: center;
    font-family: 'Calibri';
    
}

.achievementsButton, .magazineButton, .toEventsPageButton{
    border:1px solid;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Verdana;
    font-size: 20px;
    background-color:rgba(166,125,101, 0.79);
    padding:10px;
    margin:15px;
    margin-bottom:80%;

}
.heroButtons{
    display: flex;
    flex-direction: row;
}

.middle {
    color:white;
    background: linear-gradient(45deg, #28140bff, #1f1914ff, #3c120aff, #441b0dff, #7b5f48ff);
        
}


.fold2 {
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.fold2Box {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    border: 1px solid rgba(255, 255, 255, .3);
    display: flex;
    margin-right:20px;
    width: 400px;
    height: 450px;
}


.fold2HeadingTitle{
    font-family: "Berlin Sans FB Demi";
    display: flex;
    align-items: center; 
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
    font-style: normal;
    color: white;
}

.fold2Details{
    width:85%;
    height: 15%;
    display: flex;
    margin-top:25%;
    margin-left:10%;
    margin-right:10%;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.fold2BoxItem {
    display: flex;
    flex-direction: row;
}

#StatHeading {
    padding-bottom: 50px;
}

.StatNumber {
    color:#EAA577;
    border-bottom: #8C6348;
    margin-top:0px;
    padding-top:8px;
    font-size:36px;
    padding-left:35px;
    padding-right:20px;
    text-align: left;
}


.StatText{
    font-size: 18px;
    margin-top:0px;
    padding-top:15px;
    margin-bottom:0px;
    text-align: center;
    justify-content: center;
    
    font-family: "Gill Sans MT";

}

.UpdateText {
    margin-top:15px;
    margin-bottom:10px;
    text-align: center;
    padding-left:20px;
    margin-right:20px;
    font-size: 15px;
    
}
.UpdateDate {
    margin-top:15px;
    margin-bottom:10px;
    text-align: left;
    margin-left:20px;
    font-size: 17px;
    font-family:Impact;
}



.fold3{
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
}

.achievementsTitle, .contactTitleHeader{
    display: flex;
    margin-top: 50px;
    margin-bottom: 3px;
    color:white;
    /* spaces the horizontal line */
    margin-left: 10px;
    margin-right: 10px;

    align-content: center;
    justify-content: center;
    font-size: 50px; 
    font-family: 'Cooper';
    font-style:normal;
    
}

.achievementsSection,.contactTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.achievementsHR, .contactHr{
    display: flex;
    margin:25x;
    border:1px solid;
    background: white;
    margin-top: 75px;
    height: 1px;
    width: 100px;
    color: white;
}
.fold3Content{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    /* background-color:  linear-gradient(0deg #76685B 0%, 12.459016591310501%, #8C6347 24.918033182621002%, 32.459016889333725%, #977864 40.00000059604645%, 45.24590224027634%, #4F4B4A 50.491803884506226%, 56.065574288368225%, #A46E46 61.639344692230225%, 67.54098236560822%, #0C0401 73.4426200389862%, 79.83606457710266%, #583320 86.22950911521912%, 93.11475455760956%, #571F12 100%); */
}
.fold3Intro{
    display: flex;
    font-size: 16px;
    
    margin-bottom:30px;
    justify-content: center;
}

.achievements, .lines, .fold2Boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.highlightLine{
    display: flex;
    border:1px solid;
    background: #4F4B4A;
    color: #4F4B4A;
    height: 1px;
    width: 250px;
    margin-right:20px;
    margin-bottom:1px;
}

.achievementBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    border: 1px solid rgba(255, 255, 255, .3);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    display: flex;
    border:1px solid;
    margin-right:20px;
    width: 250px;
    height: 350px;
}

#achieveBox1, #achieveBox3 {
    background: linear-gradient(0deg,#624532, #8C6348,#402D21);
}
#achieveBox2, #achieveBox4 {
    background: linear-gradient(0deg,  #973721ff , #732a19ff, #43180E);
}
.achievementBoxHeadings{
    display: flex;
    font-size: 20px;
    padding:10px;
    justify-content: space-around;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    margin-bottom: 10px;
    margin-top: 10px;
}
.achievementBoxDetails{
    display: flex;
    padding:15px;
}
/*
Gradient in Hex
linear-gradient(to right, #76685B 0%, 12.459016591310501%, #8C6347 24.918033182621002%, 32.459016889333725%, #977864 40.00000059604645%, 45.24590224027634%, #4F4B4A 50.491803884506226%, 56.065574288368225%, #A46E46 61.639344692230225%, 67.54098236560822%, #0C0401 73.4426200389862%, 79.83606457710266%, #583320 86.22950911521912%, 93.11475455760956%, #571F12 100%);

Gradient in RGBA 
linear-gradient(to right, rgba(118, 104, 91, 1) 0%, 12.459016591310501%, rgba(140, 99, 71, 1) 24.918033182621002%, 32.459016889333725%, rgba(151, 120, 100, 1) 40.00000059604645%, 45.24590224027634%, rgba(79, 75, 74, 1) 50.491803884506226%, 56.065574288368225%, rgba(164, 110, 70, 1) 61.639344692230225%, 67.54098236560822%, rgba(12, 4, 1, 1) 73.4426200389862%, 79.83606457710266%, rgba(88, 51, 32, 1) 86.22950911521912%, 93.11475455760956%, rgba(87, 31, 18, 1) 100%);
 */
.fold4{
    margin-top: 30px;
    margin-bottom: 0px;
}
 .galleryHeader{
    display: flex;
    padding-left :60px ;
    font-family: 'Cooper';
    font-style:normal;
    font-size: 40px; 
}
.fold4Pictures{
    display: flex;
    flex-direction: column;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
.galleryRow1,.galleryRow2{
    display: flex;
    flex-direction: row;
    margin:10px;
}
.galleryPic{
    display: flex;
    height: 400px;
    margin:10px;
    padding: 10px;
    margin-bottom: 0px;
    
}
.fold6{
    background: linear-gradient(0deg, #f5efe0ff, #f8f4eaff, #ffffffff);
    display: flex;
    padding:200px;
    flex-direction: column;
}
iframe{
    border:1px solid ;
    border-color: black;
    height: 900px;
    width: 700px;
}
.contactUsContent{
    display: flex;
    flex-direction: row;
}
.contactUsLeft,.contactUsRight{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contactUsRight{
    padding:30px;
    align-items: left;
    justify-content: left;
}
.contactUsTag{
    color: black;
    padding:20px;
    font-size: 50px;
}

.contactTitle{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 85px;
    
    color:black;

    margin-right: 20px;
    font-family: 'Cooper';
    font-style:normal;
}
.contactTitleHeader{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 24px;
    display: flex;
    color:#8C5038;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Cooper';
    font-style:normal;
}
.contactHr{
    display: flex;
    margin:25x;
    border:1px solid;
    background: black;
    margin-top:25px;
    height: 1px;
    width: 100px;
    color: black;
}
.contactUsDetails{
    font-size: 25px;
    font-style: italic;
    color:black;
}
.fold7{
    padding-top: 40px;
    padding-bottom: 40px;
    background:#F8F4EA;
    color: black;
    padding-left: 60px;
    padding-right:60px ;
}
.fold7Content{
    display: flex;
    flex-direction: row;
}
.fold7ContentItems{
    margin:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.fold7ContentHeader{
    font-size:25px ;
    font-family: Barlow, sans-serif;
}
.fold7ContentDetails{
    font-size: 20px;
    font-style: italic;
    text-align: center;
}
.fold7Img{
    height:90px;
}

li{
    font-size: 25px;
    font-style: italic;
}
a:link,a:active, a:visited{
    text-decoration: none;
    color:white;
}
a:hover{
    text-decoration: none;
    color:#402D21;
}
a.navLi:hover{
    color:#bebebe;
}
html{
    scroll-behavior: smooth;
}