#my{
    zoom: 70%;
}
body{
    margin:0px;
    padding:0px;
}

.fold5{
    color:black;
    background: linear-gradient(0deg, #f5efe0ff, #f8f4eaff, #ffffffff);;
    
}
.fold5 .fold5Header{
    background-image:url("../src/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:local;
    padding-top:100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.magazineTitleSection{
    display: flex;
    flex-direction: row;
}
.magazineHR{
    display: flex;
    margin:25x;
    border:1px solid;
    background: white;
    margin-top: 50px;
    height: 1px;
    width: 100px;
    color: white;
}
.magazineTitle{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 70px;
    display: flex;
    color:white;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Cooper';
    font-style:normal;
    
}
.magazinePresentedBy{
    font-size: 20px; 
    font-family: Verdana;
    font-style: italic;
    color:white;
}
.fold5Content{

    margin-top: 40px;
    display: flex;
    flex-direction: row;
    padding:30px;
}
.fold5Left,.fold5Right{
    width: 50%;
    margin:30px;
}
.fold5Right{
    margin-top:auto;
    margin-bottom: auto ;
    padding-left: 30px;
    margin-left: 40px;
}
.magazineName{
    font-size: 50px;
}
.magazineDetailsTag{
    padding:20px;
    font-size: 70px;
}
.magazinePic{
    border:1px solid;
    height:1000px;
}
.magazineName{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 85px;
    display: flex;
    color:black;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Cooper';
    font-style:normal;
}
.magazineNameTitle{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 24px;
    display: flex;
    color:#8C5038;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Cooper';
    font-style:normal;
}
.magazineDetailsHR{
    display: flex;
    margin:25x;
    border:1px solid;
    background: black;
    margin-top:25px;
    height: 1px;
    width: 100px;
    color: black;
}
.magazineDetails{
    font-size: 25px;
    font-style: italic;
}
.pdf{
    background: #A67D65;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
object{
    height:700px;
    display: flex;
}

.sticky {
    padding-top: 5px;
    background: #f8f4eaff; 
}