

body{
    background: #F8F4EA;
}
.navAndHero{
    background-image:url('../src/events-hero2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:local;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topNavigation{
    background-color: linear-gradient(0deg, #f5efe0ff, #f8f4eaff, #ffffffff);;
    
    margin-top: 25px;
    width:90%;
    /*background: #1D2659;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:white;
    padding-bottom:10px;
}

#logo{
    flex:1;
    font-size: 30px;
    font-family: Verdana;
    font-weight: bolder;
    display: flex;
    width: 50%;
    justify-content: left;
    
}

#logoImage {
    width: 60px;
    height: 50px;
    margin-right:20px;
}

ul{
    width:50%;
    display:flex;
    flex:1;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: right;    
}

li{
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans';
    font-weight: bold;
    font-size: 24px;
    display:flex;
    font-size: 18px;
    margin-right:50px;
}

#contactUsButton{
    border:1px solid;
    padding:5px;
    border-radius: 5px;
}

.navHeroseparator{
    align-self: center;
    justify-content: center;
    color: white;
    display: flex; 
    flex: 1;
    width: 90%;
    opacity: 80%;
    margin-right:50px;
    border-top: 2px solid white;
    /* height: 1px; */
}

.EventsTitleScreen{
    display: flex;
    flex-direction: row;
    padding-top:125px;
    padding-bottom: 0px;
    
}
.titleHR{
    display: flex;
    margin:25px;
    border:1px solid;
    background: white;
    margin-top: 60px;
    height: 1px;
    width: 100px;
    color: white;
}
.eventsTitle{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 85px;
    display: flex;
    color:white;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Cooper';
    font-style:normal;
}
.heroOneLiner{
    font-size: 20px;
    font-style: italic;
    font-family: "Verdana";
    padding-top:1.5%;
    padding-bottom: 100px;
    color:white;

}

.heroButtons{
    display: flex;
    flex-direction: row;
}

.toUpcomingEventsButton, .toCompletedEventsButton{
    border:1px solid;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Verdana;
    font-size: 20px;
    background-color:rgba(166,125,101, 0.79);
    padding:10px;
    margin:15px;
    margin-bottom:50%;
    text-decoration: none;
}

#belowHero{
    padding-top:1px;
    border-top: 1px solid rgba(41, 0, 3, 1);
    background: rgba(41, 0, 3, 1);
    align-content: center;
    align-self: center;
    width: 98%;
}

.middle{
    align-content: center;
}

#upcomingEvents, #completedEvents{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    background:#F8F4EA;
    align-items: center;
    justify-content: center;
}
.upcomingEventsHeader, .completedEventsHeader{
    font-family: 'Cooper';
    font-style:normal;
    color:#732A15;
    font-size: 60px;
    padding:30px;
    border-bottom:3px solid rgba(0, 0, 0, .3);
}
.Items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Item{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    padding:30px;
    padding-bottom:50px;
}

.ItemRight, .ItemLeft {
    display: flex;
    width:50%;
    margin:30px;
}

#ItemLeftType1{
    display: flex;
    flex-direction: column;
    /* align-content: center;
    justify-content: center; */
}

.ItemPic {
    height:700px;
    width:75%;
    padding-left: 150px;
    overflow: hidden;
    align-content: center;
    
}

#ItemRightType1, #ItemLeftType2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:50px;
    font-family: "Century Gothic";
}

.ItemName{
    display: flex;
    flex-direction: row;
    font-size: 50px;
    justify-content: left;
    align-content: left;
}

.ItemName{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 70px;
    display: flex;
    align-content: left;
    color:black;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Cooper';
    font-style:normal;
}
.ItemNameTitle{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 36px;
    display: flex;
    color:#8C5038;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Cooper';
    font-style:normal;
}

.itemDetailsHR{
    display: flex;
    margin:25x;
    border:1px solid;
    background: black;
    margin-top:35px;
    height: 1px;
    width: 100px;
    color: black;
}
.itemDescription{
    padding-top:20px;
    font-size: 25px;
}

.photos{
    display: flex;
    flex-direction: column;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
.galleryRow1,.galleryRow2{
    display: flex;
    flex-direction: row;
    margin:10px;
}
.galleryPic{
    display: flex;
    max-height: 400px;
    max-width: 600px;
    margin:10px;
    padding: 10px;
    margin-bottom: 0px;
    
}

#acs2ndImage{
    width: 400px;
    height: auto;
}
a:link,a:active, a:visited{
    color: black;
  }
a:hover {
    color: #8C5038;
  }
a.heroLink:link,
a.heroLink:active,
a.heroLink:visited
{
    color:white;
}
a.heroLink:hover{
    color:#732A15;
}