/* Coolors Exported Palette - https://coolors.co/341009-341009-3c120a-46150c-571b0f */

/* CSS HEX */
--black-bean: #341009ff;
--black-bean-2: #341009ff;
--black-bean-3: #3c120aff;
--black-bean-4: #46150cff;
--caput-mortuum: #571b0fff;

/* CSS HSL */
--black-bean: hsla(10, 70%, 12%, 1);
--black-bean-2: hsla(10, 70%, 12%, 1);
--black-bean-3: hsla(10, 71%, 14%, 1);
--black-bean-4: hsla(9, 71%, 16%, 1);
--caput-mortuum: hsla(10, 71%, 20%, 1);

/* SCSS HEX */
$black-bean: #341009ff;
$black-bean-2: #341009ff;
$black-bean-3: #3c120aff;
$black-bean-4: #46150cff;
$caput-mortuum: #571b0fff;

/* SCSS HSL */
$black-bean: hsla(10, 70%, 12%, 1);
$black-bean-2: hsla(10, 70%, 12%, 1);
$black-bean-3: hsla(10, 71%, 14%, 1);
$black-bean-4: hsla(9, 71%, 16%, 1);
$caput-mortuum: hsla(10, 71%, 20%, 1);

/* SCSS RGB */
$black-bean: rgba(52, 16, 9, 1);
$black-bean-2: rgba(52, 16, 9, 1);
$black-bean-3: rgba(60, 18, 10, 1);
$black-bean-4: rgba(70, 21, 12, 1);
$caput-mortuum: rgba(87, 27, 15, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #341009ff, #341009ff, #3c120aff, #46150cff, #571b0fff);
$gradient-right: linear-gradient(90deg, #341009ff, #341009ff, #3c120aff, #46150cff, #571b0fff);
$gradient-bottom: linear-gradient(180deg, #341009ff, #341009ff, #3c120aff, #46150cff, #571b0fff);
$gradient-left: linear-gradient(270deg, #341009ff, #341009ff, #3c120aff, #46150cff, #571b0fff);
$gradient-top-right: linear-gradient(45deg, #341009ff, #341009ff, #3c120aff, #46150cff, #571b0fff);
$gradient-bottom-right: linear-gradient(135deg, #341009ff, #341009ff, #3c120aff, #46150cff, #571b0fff);
$gradient-top-left: linear-gradient(225deg, #341009ff, #341009ff, #3c120aff, #46150cff, #571b0fff);
$gradient-bottom-left: linear-gradient(315deg, #341009ff, #341009ff, #3c120aff, #46150cff, #571b0fff);
$gradient-radial: radial-gradient(#341009ff, #341009ff, #3c120aff, #46150cff, #571b0fff);