/* Coolors Exported Palette - https://coolors.co/f3393d-a30015-830014-c21c28-310104 */

/* CSS HEX */
--imperial-red: #F3393Dff;
--carmine: #A30015ff;
--ou-crimson: #830014ff;
--fire-engine-red: #C21C28ff;
--black-bean: #310104ff;

/* CSS HSL */
--imperial-red: hsla(359, 89%, 59%, 1);
--carmine: hsla(352, 100%, 32%, 1);
--ou-crimson: hsla(351, 100%, 26%, 1);
--fire-engine-red: hsla(356, 75%, 44%, 1);
--black-bean: hsla(356, 96%, 10%, 1);

/* SCSS HEX */
$imperial-red: #F3393Dff;
$carmine: #A30015ff;
$ou-crimson: #830014ff;
$fire-engine-red: #C21C28ff;
$black-bean: #310104ff;

/* SCSS HSL */
$imperial-red: hsla(359, 89%, 59%, 1);
$carmine: hsla(352, 100%, 32%, 1);
$ou-crimson: hsla(351, 100%, 26%, 1);
$fire-engine-red: hsla(356, 75%, 44%, 1);
$black-bean: hsla(356, 96%, 10%, 1);

/* SCSS RGB */
$imperial-red: rgba(243, 57, 61, 1);
$carmine: rgba(163, 0, 21, 1);
$ou-crimson: rgba(131, 0, 20, 1);
$fire-engine-red: rgba(194, 28, 40, 1);
$black-bean: rgba(49, 1, 4, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #F3393Dff, #A30015ff, #830014ff, #C21C28ff, #310104ff);
$gradient-right: linear-gradient(90deg, #F3393Dff, #A30015ff, #830014ff, #C21C28ff, #310104ff);
$gradient-bottom: linear-gradient(180deg, #F3393Dff, #A30015ff, #830014ff, #C21C28ff, #310104ff);
$gradient-left: linear-gradient(270deg, #F3393Dff, #A30015ff, #830014ff, #C21C28ff, #310104ff);
$gradient-top-right: linear-gradient(45deg, #F3393Dff, #A30015ff, #830014ff, #C21C28ff, #310104ff);
$gradient-bottom-right: linear-gradient(135deg, #F3393Dff, #A30015ff, #830014ff, #C21C28ff, #310104ff);
$gradient-top-left: linear-gradient(225deg, #F3393Dff, #A30015ff, #830014ff, #C21C28ff, #310104ff);
$gradient-bottom-left: linear-gradient(315deg, #F3393Dff, #A30015ff, #830014ff, #C21C28ff, #310104ff);
$gradient-radial: radial-gradient(#F3393Dff, #A30015ff, #830014ff, #C21C28ff, #310104ff);